<?xml version="1.0" encoding="utf-8"?>
<launch>

    <!-- Define the path -->
    <arg name="path" default="straight"/>

    <!-- Launch exercise1 node  -->
    <include file="$(find x_sec_driving)/launch/x_sec_navigation.launch">
        <arg name="path" value="$(arg path)"/>
    </include>

    <!-- Launch RViz  -->

    <arg name="output" default="log"/> <!-- "log": print stderr only to screen; "screen": print stdout and stderr to screen -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find x_sec_driving)/rviz/x_sec_navigation.rviz" output="$(arg output)" />
    
</launch>