<?xml version="1.0" encoding="utf-8"?>
<launch>    

    <!-- Define the /use_sim_time parameter -->
    <arg name="use_sim_time" default="false"/>
    <param name="use_sim_time" value="$(arg use_sim_time)"/>

    <!-- Define the paths to the parameter files -->
    <arg name="topics_param_file_name" default="$(find x_sec_driving)/params/topics.yaml"/>

    <!-- Launch the exercise node, loading the specified parameter files (.yaml) -->
    <node name="x_sec_detection" pkg="x_sec_driving" type="x_sec_detection.py" output="screen" required="true">
        <rosparam command="load" file="$(arg topics_param_file_name)" ns="topics"/>
    </node>
    
</launch>
